/* 
    Created on : 02/04/2018, 12:11:14 PM
    Author     : oym-dev07
*/
*{
    box-sizing: border-box;
}
label, label.col-form-label{
    margin-top: 8px;
    margin-bottom: 2px;
    font-size: 12px;
}
input[class*="form-"], select{
    font-size: 10px;
}
#elementsList tr:hover:not(.style), #elementsList tr:hover:not(button){
    background-color: darkslateblue;
    cursor: pointer;
    color: white;
}